*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
    margin-top: 50px;
    color: #ede7e3;
}

body{
    background-color: #16697a;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #ede7e3;
    font-size: 8vmin;
   color: #e68c3a;

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ede7e3;
    color: #16697a;
    border: none;
    border-radius: 1rem;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ede7e3;
    color: #16697a;
    border: none;
    border-radius: 1rem;
}

#msg{
    color: #ede7e3;
    font-size: 8vmin;
}

.msg-container{
   margin-top: 50px;
   height: 90vmin;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
}

.hide{
    display: none;
}